<h2>Current value of the counter: {{counter()}}></h2>
<h2>Computed counter: {{derivedCounter()}}></h2>

<button (click)="set()">Set</button>
<button (click)="increment()">Increment</button>
<button (click)="multiplier = 10">Set multiplier to 10</button>
<button (click)="updateWithTheSameValue()">Update with current counter value</button>

<h1>***Example of computed without creating dependency</h1>

<h2>Current value of the counter2: {{counter2()}}></h2>
<h2>Current value of the counter3: {{counter3()}}></h2>
<h2>10 x counter2 + counter3(untracked): {{derivedCounter2()}}></h2>

<button (click)="increment2()">Increment counter2</button>
<button (click)="increment3()">Increment counter3</button>

<br><br>

<button (click)="destroyEffect()">Destroy effect</button>